<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vanilla Routing</title>
	<link rel="stylesheet" href="/global.css">
	<script defer src="/navigator.js"></script>
</head>
<body>
	<header>
		<h1>Vanilla Routing</h1>
		<ul>
			<li><a routerLink href="/">Home</a></li>
			<li><a routerLink href="/about/">About</a></li>
			<li><a routerLink href="/contact/">Contact</a></li>
			<li><a routerLink href="/news/">News</a></li>
		</ul>
	</header>
	<div id="routerTarget"></div>
</body>
</html>
